<div class="app-container">
  <div class="container-fluid" style="background-color: #34495e">
    <div class="row">
      <div class="offset-5 col-2">
        <app-cars-form *ngIf="edited" [passat]="edited" (save)="save($event)"
                       (cancel)="cancel()" (remove)="remove($event)"></app-cars-form>

      </div>
    </div>
  </div>



  <button class="btn btn-outline-primary" (click)="newPassat()">new Passat</button>




  <app-cars-list [passats]="passats" (select)="select($event)"></app-cars-list>



</div>
