.active {
  background-color:#e74c3c !important;

}

div {
  text-align: center;
}

p {
  font-size: medium;
}

/*.form-control {*/
  /*text-align: center !important;*/
/*}*/

label {
  color:#3498db;
}
.card {
  border: 10px solid #ecf0f1;
  border-radius:30px;
  height:250px;
  background-color: #e67e22

}

/*.paski {*/
  /*height:60px;*/
  /*width: 60px;*/
  /*background-color:red;*/
/*}*/
