.active {
  color:#34495e;
}

div {
  text-align: center;
}

p {
  font-size: medium;
}

.form-control {
  text-align: center !important;
}

label {
  color:#3498db;
}
.card {
  border: 10px solid #ecf0f1;
  border-radius:30px;
}
